<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Защита и восстановление фасада</title>
  <link rel="stylesheet" href="../styles/stylesheet.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <header class="header sticky">
    <div class="header__container">
      <div class="header__brand"><img src="../views/images/logo.jpg" alt="Логотип компании"></div>
      <nav class="header__nav">
        <ul class="menu-list">
          <li class="menu-list__item"><a class="item-link" href="#main__about">Материал щит</a></li>
          <li class="menu-list__item"><a class="item-link" href="#main__stages">Этапы работ</a></li>
          <li class="menu-list__item"><a class="item-link" href="#main__characteristics">Характеристики</a></li>
          <li class="menu-list__item"><a class="item-link" href="#main__price">Стоимость</a></li>
          <li class="menu-list__item"><a class="item-link" href="#main__portfolio">Наши проекты</a></li>
        </ul>
        <div class="menu-order">
          <button class="btn btn--accent" onclick="window.location = '#main__order'">Отправить заявку</button>
        </div>
      </nav>
      <div class="header__contacts">
        <div class="contacts__icon"><img src="../views/images/phone.png" alt="Иконка телефона"></div>
        <div class="contacts__content text--bold">8 (951) 668-93-13</div>
      </div>
    </div>
  </header>
  <main class="main">
    <section class="main__banner banner__container">
      <div class="banner__image"></div>
      <!-- <div class="banner__blur"></div>-->
      <div class="banner__content">
        <h1 class="content__title text--bold">Защита и восстановление фасада</h1>
        <h3 class="content__description text--normal">Защитное покрытие для фасадок, декоративного камня и дерева</h3>
        <div class="content__actions">
          <button class="btn btn--accent" onclick="window.location = '#main__order'">Отправить заявку</button>
        </div>
      </div>
    </section>
    <section class="main__about" id="main__about">
      <h2 class="about__heading heading center">Что такое <span class="text--accent">"Материал щит"</span>?</h2>
      <div class="about__description center">"Материал щит" - это специальное защитное покрытие, содержащее акрил, полиэтиленовый воск и специальные полимеры, позволяющиие отталкивать воду и грязь от финишного слоя.</div>
      <div class="about__slider">
        <div class="slider__container">
          <div class="slider__item">
            <div class="item__image"><img src="../views/images/slider__01.jpeg" alt=""></div>
            <div class="item__description">"Материал щит" создаёт прочную бесшовную и эластичную поверхность и после нанесения поверхность имеет матово-глянцевый оттенок.</div>
          </div>
          <div class="slider__item">
            <div class="item__image"><img src="../views/images/slider__01.jpeg" alt=""></div>
            <div class="item__description">"Материал щит" создаёт прочную бесшовную и эластичную поверхность и после нанесения поверхность имеет матово-глянцевый оттенок.</div>
          </div>
          <div class="slider__item">
            <div class="item__image"><img src="../views/images/slider__01.jpeg" alt=""></div>
            <div class="item__description">"Материал щит" создаёт прочную бесшовную и эластичную поверхность и после нанесения поверхность имеет матово-глянцевый оттенок.</div>
          </div>
          <div class="slider__item">
            <div class="item__image"><img src="../views/images/slider__01.jpeg" alt=""></div>
            <div class="item__description">"Материал щит" создаёт прочную бесшовную и эластичную поверхность и после нанесения поверхность имеет матово-глянцевый оттенок.</div>
          </div>
          <div class="slider__item">
            <div class="item__image"><img src="../views/images/slider__01.jpeg" alt=""></div>
            <div class="item__description">"Материал щит" создаёт прочную бесшовную и эластичную поверхность и после нанесения поверхность имеет матово-глянцевый оттенок.</div>
          </div>
          <div class="slider__item">
            <div class="item__image"><img src="../views/images/slider__01.jpeg" alt=""></div>
            <div class="item__description">"Материал щит" создаёт прочную бесшовную и эластичную поверхность и после нанесения поверхность имеет матово-глянцевый оттенок.</div>
          </div>
        </div>
        <div class="slider__controls">
          <div class="control control--left"></div>
          <div class="control control--right"></div>
        </div>
        <div class="slider__stages">
          <div class="stage stage--active"></div>
          <div class="stage"></div>
          <div class="stage"></div>
          <div class="stage"></div>
          <div class="stage"></div>
          <div class="stage"></div>
        </div>
      </div>
    </section>
    <section class="main__stages" id="main__stages">
      <h2 class="stages__heading heading center">Этапы работ</h2>
      <ul class="stages-list">
        <li class="stages-list__item stages-list__item--left">
          <div class="list-item__text">Локальное удаление и зачистка стен и элементов фасада</div>
        </li>
        <li class="stages-list__item stages-list__item--right">
          <div class="list-item__text">Грунтование стен и всех элементов фасада здания</div>
        </li>
        <li class="stages-list__item">
          <div class="list-item__text">Нанесение на стены и все элементы фасада материала Материал щит безвоздушным агрегатом высокго давления</div>
        </li>
      </ul>
    </section>
    <section class="main__characteristics" id="main__characteristics">
      <div class="characteristics__image"></div>
      <div class="characteristics__filter"></div>
      <div class="characterictics__content">
        <h2 class="characteristics__heading heading center">Характеристики материала</h2>
        <div class="characteristics-list__wrapper">
          <ul class="characteristics-list">
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Конститенция</div>
              <div class="text--black">однородная жидкая масса</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Цвет</div>
              <div class="text--black">Прозрачный</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Плотность</div>
              <div class="text--black">1.4-1.5 г/см3</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Вязкость по Брукфильду</div>
              <div class="text--black">250 000 - 450 000 МПа с</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Водонепроницаемость</div>
              <div class="text--black">не менее W8 (8 атм)</div>
            </li>
          </ul>
          <ul class="characteristics-list">
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Термостойкость</div>
              <div class="text--black">-50 до +150</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Расход</div>
              <div class="text--black">1 кг/м2<span class="text--secondary">*</span></div>
              <div class="note text--secondary text--normal">* при толщине сплошного слоя 1 мм</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Температура</div>
              <div class="text--black">+5 - +45</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Время высыхания</div>
              <div class="text--black">24 часа<span class="text--secondary">**</span></div>
              <div class="note text--secondary text--normal">** при температуре не ниже +15</div>
            </li>
          </ul>
          <ul class="characteristics-list">
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Гарантийный срок хранения</div>
              <div class="text--black">12 месяцев</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Относительное удлинение</div>
              <div class="text--black">250%</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Адгезия к бетону</div>
              <div class="text--black">не менее 2Мпа</div>
            </li>
            <li class="characteristics-list__item text--bold">
              <div class="text--secondary">Возможность хождения</div>
              <div class="text--black">через 24 часа</div>
            </li>
          </ul>
          <div class="characteristics__note text--bold">
            <div class="note__item text--secondary">Гарантийный срок составляет <span class="text--accent">5 лет.</span></div>
            <div class="note__item text--secondary">Срок службы материала минимум <span class="text--accent">15 лет.</span></div>
          </div>
        </div>
      </div>
    </section>
    <section class="main__price" id="main__price">
      <h2 class="price__heading heading center">Стоимость услуг</h2>
      <div class="price__wrapper">
        <div class="price__banner-wrapper">
          <div class="price__banner">
            <div class="banner-image"></div>
            <div class="banner-filter"></div>
            <div class="banner-content center">
              <div class="price__banner-heading">Гидрофобизация стен фасада дома<span class="text--bold text--uppercase">"Материал щит"</span></div>
              <div class="price__banner-content">
                <div class="price__banner-text text--bold"><span class="banner-text__content">800 руб/кв.м</span></div>
              </div>
              <div class="price__banner-note">при объёме работ<span class="text--bold">от 2000 кв.м.</span> компания предоставляет рассрочку при оплате 50% от суммы договора</div>
            </div>
          </div>
        </div>
        <div class="price__properties">
          <div class="properties__title">Приобретенные свойства фасада зданий с технологией <span class="text--bold text--uppercase">"Материал щит"</span></div>
          <ul class="properties__list">
            <li class="properties__list-item">
              <div class="list-item__text">гидроизоляция стен фасада</div>
            </li>
            <li class="properties__list-item">
              <div class="list-item__text">теплоизоляция стен фасада</div>
            </li>
            <li class="properties__list-item">
              <div class="list-item__text">антикоррозийная защита металлических элементов и конструкций</div>
            </li>
            <li class="properties__list-item">
              <div class="list-item__text">ветрозащита фасада</div>
            </li>
            <li class="properties__list-item">
              <div class="list-item__text">защита от плесени и грибка</div>
            </li>
            <li class="properties__list-item">
              <div class="list-item__text">улучшение внешнего вида здания</div>
            </li>
            <li class="properties__list-item">
              <div class="list-item__text">предотвращение дальнейших разрущений</div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="main__portfolio" id="main__portfolio">
      <h2 class="portfolio__heading heading center">Наши проекты</h2>
      <div class="portfolio__content"><img class="portfolio__image" src="../views/images/01.jpeg" alt=""><img class="portfolio__image" src="../views/images/02.jpg" alt=""><img class="portfolio__image" src="../views/images/03.jpg" alt=""><img class="portfolio__image" src="../views/images/04.jpg" alt=""></div>
      <div class="portfolio__content"><img class="portfolio__image" src="../views/images/05.jpg" alt=""><img class="portfolio__image" src="../views/images/06.jpeg" alt=""><img class="portfolio__image" src="../views/images/07.JPG" alt=""><img class="portfolio__image" src="../views/images/08.jpg" alt=""></div>
      <div class="portfolio__preview"></div>
      <div class="portfolio__close">×</div>
    </section>
    <section class="main__order" id="main__order">
      <div class="order__image"></div>
      <div class="order__filter"></div>
      <div class="order__form-wrapper">
        <form class="order__form">
          <h2 class="form__heading heading center">Оставить заявку</h2>
          <div class="form__item">
            <label class="form__label" for="name">Как к Вам можно обращаться?</label>
            <input class="form__input" id="name" type="text" placeholder="Иван Иванов">
          </div>
          <div class="form__item">
            <label class="form__label" for="contact">Контактные данные</label>
            <input class="form__input" id="contact" type="text" placeholder="Телефон / E-mail">
          </div>
          <div class="form__item">
            <label class="form__label" for="order">Текст заявки</label>
            <textarea class="form__input form__input--textarea" id="order" type="text" placeholder="Опишите здесь свою заявку"></textarea>
          </div>
          <div class="form__action">
            <button class="btn btn--accent">Отправить заявку</button>
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__wrapper">
      <section class="footer__contacts text--white">Если у вас остались вопросы:
        <ul class="contacts-list text--bold">
          <li class="contacts-list__item">
            <div class="phone-icon icon"><img src="../views/images/phone.png" alt=""></div><span class="contacts__text">8 (951) 689-93-13</span>
          </li>
          <li class="contacts-list__item">
            <div class="mail-icon icon"><img src="../views/images/mail.png" alt=""></div><span class="contacts__text"><a class="contacts__link" href="mailto:rss178@yandex.ru">rss178@yandex.ru</a></span>
          </li>
        </ul>
      </section>
      <section class="footer__banner"><img src="../views/images/logo-lg.png" alt="Логотип компании"></section>
      <section class="footer__copyright text--secondary">
        <div class="copyright-item copyright__company">ООО "АКТЕРМ-СП"</div>
        <div class="copyright-item copyright__index">194356, Санкт-Петербург</div>
        <div class="copyright-item copyright__address">Луначарского пр-кт, дом 52, к 2</div>
      </section>
    </div>
  </footer>
  <script type="text/javascript" src="../scripts/slider.js"></script>
  <script type="text/javascript" src="../scripts/portfolio.js"></script>
  <script type="text/javascript" src="../scripts/ym.js"></script>
</body>

</html>
