[common]
pic_dir=/var/www/html/arkterm/client/dist/images/
src_pic_dir=/var/www/html/arkterm/client/src/images/
pic_path=/images/
build_dir=/var/www/html/arkterm/client/dist
views_dir=/var/www/html/arkterm/client/src/views
scripts_dir=/var/www/html/arkterm/server/scripts

[mailer]
user=mailer-akterm@mail.ru
pass=TauBoPpC3l3^
dest=davidobryakov@gmail.com
subject=Новая заявка с лендинга facadedom.ru
